{% include 'header.html' %}

<h1 class="my-2 text-2xl text-center font-bold">
    Available Sources
</h1>
    <div class="flex flex-wrap gap-3 justify-center items-center w-full">
        {% for chat in chats %}
        <a title="{{chat.name}}" href="/{{chat.page_id}}"
            class="bg-gray-500 w-5/12 sm:w-1/4 md:w-1/5 lg:w-1/6 rounded text-center break-words shadow hover:shadow-lg">
                <img src="/{{chat.page_id}}/logo?big=1" class="w-full rounded-t">
                <div class="text-white p-2 font-semibold">{{chat.name}}</div>
        </a>
        {% endfor %}
    </div>

{% include 'footer.html' %}