{% include 'header.html' %}

<div class="flex items-center justify-center h-screen">
	<div class="w-3/5">
		<div>
			<h2 class="text-center text-3xl font-extrabold text-green-500">
				Sign in to view the contents
			</h2>
		</div>
		{% if error %}
		<div>
			<h2 class="mt-2 text-center text-xl text-red-500 rounded border-2 border-red-500">
				{{ error }}
			</h2>
		</div>
		{% endif %}
		<form class="" action="/login" method="POST">
			<input type="hidden" name="remember" value="true">
            <input type="hidden" name="redirect_to" value="{{redirect_to}}">
            <div class="mt-4 mb-4">
                <div>
                    <label for="email-address" class="sr-only">Username</label>
                    <input id="email-address" name="username" type="text" required
                        class="appearance-none relative block w-full px-3 py-2 border bg-green-800 rounded-md focus:z-10 sm:text-sm mb-2"
                        placeholder="Username">
                </div>
                <div>
                    <label for="password" class="sr-only">Password</label>
                    <input id="password" name="password" type="password" autocomplete="current-password" required
                        class="appearance-none relative block w-full px-3 py-2 border bg-green-800 rounded-md focus:z-10 sm:text-sm mt-2"
                        placeholder="Password">
                </div>
            </div>
            <div>
                <button type="submit"
                    class="w-full flex justify-center py-2 px-4 font-medium rounded-md text-white bg-green-600 focus:bg-green-600 focus:ring-2 focus:ring-white">
                    Sign in
                </button>
            </div>
        </form>
    </div>
</div>


{% include 'footer.html' %}